body {
    font-family: 'Roboto', sans-serif;
}

h2 {
    color: $primary-color;
    font-size: 3em;
}

h6 {
    color: $silver-chalice;
  }

p {
    color: $dove-gray;
}

p, li {
    line-height: 200%;
  }

