.btn-denim {
    background-color: $denim-vibrant;
    border-radius: 30px;
    padding: 10px 40px;
    color: white;
    font-size: 0.9em;
    font-weight: 700;
    letter-spacing: 2px;
  }
.btn-denim:hover {
  color: white;
  filter: brightness(1.15);
}

.jumbotron {
    text-align: center;
}

.cube {
  width: 50%;
}

.wrap-cube {
  width: 50%;
}

.fw-700 {
  font-weight: 700;
}

.fw-900 {
  font-weight: 900;
}

