.btn-denim {
    background-color: $denim-vibrant;
    border-radius: 30px;
    padding: 10px 40px;
    color: white;
    font-size: 0.9em;
    font-weight: 700;
  }

.jumbotron {
    text-align: center;
}